<footer class="bg-dark py-5 text-white">
    <div class="container">
        <h3 class="text-uppercase">Diconais</h3>
        <p class="mb-0">Le dictionnaire de kanji Japonais</p>
    </div>
</footer>