{% extends 'base.html.twig' %}

{% block title %}Les kanji | {{ parent() }}{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="description" content="La page contenant la liste des différents kanji.">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
{% endblock %}

{% block body %}
    <section class="py-md-5">
        <div class="row">
            {# La liste des kanji #}
            <section class="order-1 order-lg-0 col-12 col-lg-8 pe-lg-5">

                {% if ideogrammes is empty %}
                    <p>Pas de résultats trouvés</p>
                {% endif %}

                <div class="row" data-masonry='{"percentPosition": true }'>
                    {% for i in ideogrammes %}
                    <div class="col-12 col-md-6 mb-3">
                        {% include 'composants/_card-list-kanji.html.twig' with { 'entity': i } %}
                    </div>
                    {% endfor %}
                </div>

                <div class="navigation mt-5">
                    {{ knp_pagination_render(ideogrammes) }}
                </div>
            </section>
            {# La liste des kanji #}

            <aside class="order-0 order-lg-1 mb-5 col-12 col-lg-4">
                <div>
                    {% include 'partials/_sidebar-list-kanji.html.twig' %}
                </div>
            </aside>
        </div>
    </section>
{% endblock %}