<a href="#" class="card card-hover text-reset text-decoration-none">
    <div class="card-body d-flex">
        <header class="col-3">
            <p class="mb-0 fw-bold">{{ entity.logo }}</p>
        </header>

        <div>
            <p class="mb-0">{{ entity.signification }}</P>
        </div>
    </div>
</a>