{% block body %}
    <section class="container my-5">
        <h1>Accès non autorisé</h1>

        <p>
            Vous ne pouvez pas accéder à cette page. <a href="{{ path('home') }}">Retour à la page d'accueil</a>.
        </p>
    </section>
{% endblock %}