{% block body %}
    <section class="container my-5">
        <h1>Page non trouvée</h1>

        <p>
            La page demandée est introuvable. <a href="{{ path('home') }}">Retour à la page d'accueil</a>.
        </p>
    </section>
{% endblock %}